<!--Componente Parallax -->
<app-parallax></app-parallax>


<!-- Titulo para acerca de.. -->
<div class="col-12 mt-5 mb-3 text-center">
  <h1 class="mb-0 titulo-seguimiento">Gobierno Autónomo Departamental de Cochabamba</h1>
  <img src="../../../assets/img/serparador.png" alt="" width="180">
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
      <h4 class="text-uppercase">Gobernador</h4>
      <img class="img-fluid img-thumbnail rounded-3" src="../../../assets/img/gobernador.png" alt="Gobernador">
      <h4 class="text-uppercase mt-2">Humberto Sánchez Sánchez</h4>
    </div>
    <div class="col-12 col-md-6">
      <p class="mt-md-5 parrafo-gobernador">Humberto Sánchez, nació en la comunidad de Ucuchi (Sacaba). Es el mayor de
        cinco hermanos. Su
        interés por la
        política comenzó en la adolescencia en el trópico de Cochabamba, donde incursionó en la vida sindical, en un
        inicio para cumplir con la representación de su familia, pero luego llegó a ocupar puestos. Tiene 50 años, está
        casado, tiene dos hijos y tres nietos. Trabajó desde muy joven en la agricultura. Tiene 35 años de vida sindical
        y 20 en la política con el Movimiento Al Socialismo (MAS). En 2004 y 2009, fue designado subprefecto de la
        provincia Chapare y llegó a ser alcalde de Sacaba dos veces en 2010 y 2015. En 2019 durante la crisis política,
        pasó uno de los momentos más duros por las amenazas a sus nietos, lo que lo obligaron a renunciar. En 2020
        retornó a la política y en 2021 ganó las elecciones para la Gobernación con el 57% con el MAS.</p>
    </div>
  </div>
</div>

<!-- Titulo Misión -->
<div class="col-12 mt-5 mb-2 text-center">
  <h1 class="mb-0 titulo-seguimiento">Misión</h1>
  <img src="../../../assets/img/serparador.png" alt="" width="180">
</div>

<div class="container mt-1">
  <div class="row">
    <div class="col-12">
      <p class="parrafo-gobernador">El Gobierno Autónomo Departamental de Cochabamba es una institución de servicio
        público que planifica, promueve e implementa el desarrollo integral departamental, articulado al desarrollo
        nacional, en coordinación con actores sociales e institucionales, para lograr el Vivir Bien de todas y todos los
        Cochabambinos.</p>
    </div>
  </div>
</div>


<!-- Titulo Visión -->
<div class="col-12 mt-5 mb-2 text-center">
  <h1 class="mb-0 titulo-seguimiento">Visión</h1>
  <img src="../../../assets/img/serparador.png" alt="" width="180">
</div>

<div class="container mt-1">
  <div class="row">
    <div class="col-12">
      <p class="parrafo-gobernador">El Gobierno Autónomo Departamental de Cochabamba, es líder en la gestión pública
        departamental, con una estructura organizativa adecuada, personal cualificado y compromiso social; con
        transparencia e igualdad de oportunidades orientada a la vida digna, en armonía con la Madre Tierra.</p>
    </div>
  </div>
</div>


<!-- Titulo Visión -->
<div class="col-12 mt-5 mb-2 text-center">
  <h1 class="mb-0 titulo-seguimiento">Objetivos</h1>
  <img src="../../../assets/img/serparador.png" alt="" width="180">
</div>

<div class="container mt-1">
  <div class="row">
    <div class="col-12">
      <p class="parrafo-gobernador">Formular políticas y estrategias orientadas a asegurar una gestión pública
        Institucional eficiente y transparente, promoviendo el desarrollo del Departamento a través de la ejecución de
        planes, programas y proyectos. Ejercer las atribuciones y funciones que asigna la Constitución política del
        estado, la Ley Marco de Autonomías y las disposiciones del ordenamiento jurídico vigentes que le sean
        aplicables.
      </p>
    </div>
  </div>
</div>




<!-- Pie de pagina -->
<app-footer></app-footer>
