<!-- Carrusel y la navegación no necesitan row -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item hero-image-1 active">
      <div class="hero-text hero-text--modificador">
        <h1 class="titulo-hero animate__animated animate__fadeInDown">
          Con el portal ciudadano
          Encuentrá información confiable en un solo click
        </h1>
      </div>
    </div>
    <div class="carousel-item hero-image-2">
      <div class="hero-text hero-text--modificador">
        <h1 class="titulo-hero animate__animated animate__fadeInDown">Verifica el estado de tus tramites</h1>
      </div>
    </div>
    <div class="carousel-item hero-image-3">
      <div class="hero-text hero-text--modificador">
        <h1 class="titulo-hero animate__animated animate__fadeInDown">
          Puedes ver los requisitos para tus tramites<br>
          y verificar el estado del mismo en un solo click
        </h1>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <i class="iconos bi bi-chevron-left"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <i class="iconos bi bi-chevron-right"></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>
