.derechos {
  background-color: #0398e2;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* Tabla de datos */
.remitente {
  border: 2px solid #01324b;
  border-radius: 5px;
}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(46, 92, 218, 0.2) 33%, var(--primario) 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--blanco);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

/* FIN Loader */

.titulo-tramitexterno {
  font-size: 35px !important;
}

@media (min-width: 768px) {
  .titulo-tramitexterno {
    font-size: 48px !important;
  }
}

.titulo-archivado {
  font-size: 2.5rem !important;
}

/* Card material designed */
:root {
  --white-text: #fff;
  --background: #c8e8f1;
  --black-text: rgb(68, 66, 66) --prueba: (180deg, #21c8f6, #637bff);
}

.bg-rojo {
  background: linear-gradient(180deg, var(--rojobajo), var(--rojo));
}

.bg-amarillo {
  background: linear-gradient(180deg, #fde087, var(--secundario));

}

.bg-verde {
  background: linear-gradient(180deg, #6edcc4, #169479) !important;
}


/* * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
} */

.card {
  /* background-color: var(--white-text); */
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  /* margin: 1.5rem; */
  overflow: hidden;
  /* width: 30rem; */
  /* height: 19rem; */
}

.card h6 {
  opacity: 0.6;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.card h2 {
  letter-spacing: .1rem;
  margin: 1rem 0;
  color: var(black-text);
}

.left-column {
  color: var(--white-text);
  padding: 2rem;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-column h2 {
  color: var(--white-text);
}

.left-column i {
  font-size: 5rem
}

.right-column {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

}

.right-column p {
  font-size: .9rem;
  color: var(--black-text)
}

.button {
  border-radius: 3rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: var(--white-text);
  font-size: 1.2rem;
  padding: .8rem 1.5rem;
  letter-spacing: .1rem;
  align-self: flex-end;
}

/*media queries*/

@media (max-width: 1030px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

/* FIN Card material designed */
.colorverdebajo {
  border: 3px solid #1694796b;
}

.coloramarillobajo {
  border: 3px solid #ffc10777;
}

.colorrojobajo {
  border: 3px solid #ff475663;
}

/* Paginación */
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

ul.pagination li a.active {
  background-color: #00a8ff;
  color: white;
  border: 1px solid #00a8ff;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}

.sombra {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.paginas {
  cursor: pointer;
}

.listaPaginacion {
  list-style: none;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: red;
}

.infoImportante {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

@media (min-width: 1400px) {
  .infoImportante {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
  }
}


/* FIN Paginación */
