<main class="contenedor">

  <div class="grid p-3 p-md-0 mt-3" id="">
    <!-- Bloque -->
    <div class="producto" id="">
      <a class="producto__enlace" [routerLink]="[ '/home/correspondencia' ]">
        <div class="producto__informacion" id="">
          <p class="producto__nombre">Seguimiento a Tramites</p>
        </div>
        <img class="img-fluid producto__imagen img-thumbnail" src="../../../assets/img/hojaruta.jpg"
          alt="Camino hoja de ruta">
        <div class="d-grid gap-2 mt-2">
          <button class="btn btn-warning btn-block w-100 text-uppercase">Consultar <i
              class="bi bi-chevron-right"></i></button>
        </div>
      </a>
    </div>
    <!--Fin Bloque-->

    <!-- Bloque -->
    <div class="producto" id="">
      <a class="producto__enlace" href="http://sisrec.gobernaciondecochabamba.bo" target="_blank">
        <div class="producto__informacion" id="">
          <p class="producto__nombre">Cálculo y pago de impuestos - IDTGB</p>
        </div>
        <img class="img-fluid producto__imagen img-thumbnail" src="../../../assets/img/ure2.jpg"
          alt="Camino hoja de ruta">
        <div class="d-grid gap-2 mt-2">
          <button class="btn btn-warning btn-block w-100 text-uppercase">Consultar <i
              class="bi bi-chevron-right"></i></button>
        </div>
      </a>
    </div>
    <!--Fin Bloque-->

    <!-- Bloque -->
    <!-- <div class="producto" id="">
      <a class="producto__enlace" href="http://plantillas.gobernaciondecochabamba.bo/" target="_blank">
        <div class="producto__informacion" id="">
          <p class="producto__nombre">Sistema de plantillas</p>
        </div>
        <img class="img-fluid producto__imagen img-thumbnail" src="../../../assets/img/plantilla.jpg"
          alt="Camino hoja de ruta">
        <div class="d-grid gap-2 mt-2">
          <button class="btn btn-warning btn-block w-100 text-uppercase">Consultar <i
              class="bi bi-chevron-right"></i></button>
        </div>
      </a>
    </div> -->
    <!--Fin Bloque-->

  </div>
</main>
