<div class="col-12 mb-3 text-center gobelectro">
  <h1 class="mb-0 titulo-seguimiento">Gobierno Electrónico</h1>
  <img src="../../../assets/img/serparador.png" alt="" width="180">
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">

      <div class="tarjeta p-3">
        <h2 class="text-primary mb-3">
          GOBIERNO ELECTRÓNICO
        </h2>
        <div class="">
          <p class="parrafo-gobernador">
            El Gobierno Autónomo Departamental de Cochabamba
            requiere construir una sólida estructura para el
            desarrollo de Gobierno Electrónico hacia un futuro
            marcado por la acelerada evolución de las tecnologías
            de la información y comunicación y la consolidación de
            la visión social, política y económica de la Constitución
            Política del Estado y la Agenda Patriótica 2025.
            Este horizonte nos plantea una sociedad en que el
            acceso a la tecnología y a internet, entre otras
            herramientas, constituye un derecho fundamental de
            las ciudadanas y ciudadanos. Asimismo, se debe generar
            condiciones y capacidades institucionales para la
            innovación, investigación y desarrollo de tecnologías
            relacionadas con Gobierno Electrónico.
          </p>
          <p class="parrafo-gobernador"> El despliegue de herramientas informáticas debe conformar un todo coherente e
            interconectado, capaz de hacer más eficientes los servicios y acciones estatales, y que
            resulte en interfaces de interacción simple e intuitiva para la ciudadanía.</p>
          <p class="parrafo-gobernador">
            Este giro necesario en la relación del Estado con la tecnologías de la información y
            comunicación marcará un cambio trascendental en la manera en que ha operado la
            administración pública hasta hace algunos años y cómo lo hará hacia adelante.
          </p>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-6">

      <div class="tarjeta p-3">
        <h2 class="text-primary text-uppercase mb-3">
          herramientas informáticas
        </h2>
        <div class="card-body">

          <p class="parrafo-gobernador"> El despliegue de herramientas informáticas debe conformar un todo coherente e
            interconectado, capaz de hacer más eficientes los servicios y acciones estatales, y que
            resulte en interfaces de interacción simple e intuitiva para la ciudadanía.</p>
          <p class="parrafo-gobernador">
            Este giro necesario en la relación del Estado con la tecnologías de la información y
            comunicación marcará un cambio trascendental en la manera en que ha operado la
            administración pública hasta hace algunos años y cómo lo hará hacia adelante.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
