<div class="container-fluid animated fadeIn fast mt-4 bg-primary mt-5" id="">

  <footer class="row barra" id="">

    <div class="detalles-footer col-12 col-md-4 mt-3 mt-md-0" id="">
      <h2 class="text-white text-start">SOBRE <span class="text-warning">NOSOTROS</span></h2>
      <h3 class="text-start titulo-objetivo">MISIÓN</h3>
      <P class="text-white parrafo-gobernador">El Gobierno Autónomo Departamental de Cochabamba es una institución de
        servicio
        público que planifica, promueve
        e implementa el desarrollo integral departamental, articulado al desarrollo nacional, en coordinación con
        actores
        sociales e institucionales, para lograr el Vivir Bien de todas y todos los Cochabambinos.</P>
      <h3 class="text-start titulo-objetivo">VISIÓN</h3>
      <P class="text-white parrafo-gobernador">El Gobierno Autónomo Departamental de Cochabamba, es líder en la gestión
        pública
        departamental, con una
        estructura organizativa adecuada, personal cualificado y compromiso social; con transparencia e igualdad de
        oportunidades orientada a la vida digna, en armonía con la Madre Tierra.</P>
      <h3 class="text-start titulo-objetivo">OBJETIVOS</h3>
      <p class="text-white parrafo-gobernador">Formular políticas y estrategias orientadas a asegurar una gestión
        pública
        Institucional eficiente y
        transparente, promoviendo el desarrollo del Departamento a través de la ejecución de planes, programas y
        proyectos. Ejercer las atribuciones y funciones que asigna la Constitución política del estado, la Ley Marco
        de Autonomías y las disposiciones del ordenamiento jurídico vigentes que le sean aplicables.</p>
    </div>

    <div class="detalles-footer col-12 col-md-4 mt-3 mt-md-0" id="">
      <h2 class="text-white text-start">CONTENIDO</h2>
      <!-- ms-auto:alinea a los elementos del menu a la derecha -->
      <ul class="navbar-nav ms-auto my-2 my-lg-0 " style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link nav-link--text active text-white enlace-footer" aria-current="page"
            [routerLink]="[ '/home' ]"><i class="bi bi-house-fill"></i>
            INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link--text text-white enlace-footer" [routerLink]="[ '/home/acercade' ]"><i
              class="bi bi-info-circle-fill"></i>
            ACERCA DE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link--text text-white enlace-footer" [routerLink]="[ '/home/contactanos' ]"><i
              class="bi bi-person-video3"></i>
            CONTACTANOS</a>
        </li>

      </ul>
    </div>
    <div class="detalles-footer col-12 col-md-4 mt-3 mt-md-0" id="">
      <h2 class="text-white text-start">CONTÁCTANOS</h2>
      <p class="titulo-contacto"><i class="bi bi-house-fill"></i> Nuestra dirección es:</p>
      <p class="contacto-parrafo">Av. Aroma N°: O-327 - Plaza San Sebastián Edicifio del Organo Ejecutivo.</p>

      <p class="titulo-contacto"><i class="bi bi-telephone-fill"></i> Nuestros teléfonos son:</p>
      <p class="contacto-parrafo">Tel.: 591 4 4500530<br>
        Cel.: 61676994</p>

      <!-- <p class="titulo-contacto"><i class="bi bi-envelope-fill"></i> Nuestros correos son:</p>
      <p class="contacto-parrafo">Email: gobernaciondecochabamba@gobernaciondecochab</p> -->

      <p class="titulo-contacto"><i class="bi bi-share-fill"></i> Puedes seguirnos tambien en:</p>
      <div class="redes-sociales-footer">
        <a class="contacto-enlace" href="https://www.facebook.com/GobernacionDeCochabamba" target="_blank"><i
            class="bi bi-facebook"></i></a>
        <a class="contacto-enlace" href="https://twitter.com/GobernacionCbba" target="_blank"><i
            class="bi bi-twitter"></i></a>
        <a class="contacto-enlace" href="https://gobernaciondecochabamba.bo/instagram.com?hl=es-la" target="_blank"><i
            class="bi bi-instagram"></i></a>
        <a class="contacto-enlace" href="https://www.youtube.com/channel/UCi9ScsXo7rULoT_4Vxt3NYg" target="_blank"><i
            class="bi bi-youtube"></i></a>
      </div>

      <div class="mt-4">
        <img class="img-fluid cursorpointer" src="../../../assets/img/logo-gobernacion.png" alt="Logo gobernación"
          [routerLink]="[ '/home' ]">
      </div>

    </div>
    <!-- </div> -->
  </footer>

  <div class="row derechos" id="">
    <div class="col-12  p-4" id="">
      <p class="text-center mb-0 text-white"><span>Copyright © <span>2022</span>, Gobierno
          Autónomo Departamental
          de Cochabamba</span></p>
      <p class="text-center mb-0"><a class="text-white enlace-derechos copyright"
          href=" https://gobernaciondecochabamba.bo" target="_blank">
          www.gobernaciondecochabamba.bo</a></p>
    </div>
  </div>

</div>
